<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quima.pipes" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.quima.pipes.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.quima.pipes.gcm.permission.C2D_MESSAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:parentActivityName=".Start">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".Data"
            android:label="@string/title_activity_data"
            android:parentActivityName=".Start">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Start">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".DatabaseActivity"
            android:label="@string/title_activity_database"
            android:parentActivityName=".Start">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>

        <receiver
            android:name=".GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.quima.pipes" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".InfoChoice"
            android:label="@string/title_activity_info_choice" >
        </activity>
        <activity
            android:name=".Area"
            android:label="@string/title_activity_area" >
        </activity>
        <activity
            android:name=".Address"
            android:label="@string/title_activity_address" >
        </activity>
    </application>

</manifest>
